{{ define "main" -}}

{{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}

<h1>{{.Title}}</h1>
<div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
</div>

<br><br>

<h2>Recent Posts</h2>
<div class="card-columns">
    {{ range (first 3 $section) -}}
    <div class="card">
        <img class="card-img-top img-fluid" src="{{.Params.featured_image}}" alt="" style="max-height: 20em;">
        <div class="card-body">
            <a class="card-title" href="{{ .Permalink }}">{{ .Title }}</a>
            <p class="card-text"><small class="text-muted"><time class="pull-right post-list"
                        datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 02, 2006" }}</time></small>
            </p>
        </div>
    </div>
    {{- end }}
</div>


{{- end }}