{% extends "base.html" %}
{% block content %}

<h1 class="display-4">Archives for {{ SITENAME }}</h1>


{% for year, year_group in dates|groupby('date.year')|reverse %}

<h4 id="{{ year }}-group">{{ year }}</h4>

<ul class="list-unstyled">
    {% for article in year_group %}
    <li class="media">
        {% if article.featured_image %}
        {% set article_image = article.featured_image|thumbnail("64x64") %}
        <!-- | thumbnail("350x200") -->
        <img class="align-self-start mr-3 img-thumbnail" style="max-height: 100%;" src="{{ article_image }}"
            alt="Feature Image">
        {% endif %}
        <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
            <small class="text-muted">
                <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            </small>
        </div>

    </li><!-- /media -->
    {% endfor %}
</ul>

{% endfor %}

{% endblock %}