{% extends "base.html" %}
{% block content %}
<section id="content">

    {% block content_title %}
    <h1 class="display-4">All posts</h1>
    {% endblock %}

    <ul class="list-unstyled">

        {% for article in articles_page.object_list %}
        <li class="media">
            {% if article.featured_image %}
            {% set article_image = article.featured_image|thumbnail("64x64") %}
            <!-- | thumbnail("350x200") -->
            <img class="align-self-start mr-3 img-thumbnail" style="max-height: 100%;" src="{{ article_image }}"
                alt="Feature Image">
            {% endif %}
            <div class="media-body">
                <h5 class="mt-0 mb-1"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
                <small class="text-muted">
                    <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                </small>
            </div>

        </li><!-- /media -->
        {% endfor %}

    </ul>
    {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
    {% endif %}
</section><!-- /#content -->
{% endblock content %}